<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.openeee.cloudstudiobiz.dao.ApplicationActivityRecordMapper">
    <resultMap id="BaseResultMap" type="cn.openeee.cloudstudiobiz.entities.ApplicationActivityRecord">
        <id column="id" property="id" />
        <result column="creator_id" property="creatorId" />
        <result column="creation_time" property="creationTime" />
        <result column="modifier_id" property="modifierId" />
        <result column="modification_time" property="modificationTime" />
        <result column="user_id" property="userId" />
        <result column="application_id" property="applicationId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
    </resultMap>

    <insert id="insert" parameterType="cn.openeee.cloudstudiobiz.entities.ApplicationActivityRecord" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO application_activity_record(creator_id, creation_time, modifier_id, modification_time, user_id, application_id, start_time, end_time)
        VALUES(#{creatorId}, #{creationTime}, #{modifierId}, #{modificationTime}, #{userId}, #{applicationId}, #{startTime}, #{endTime})
    </insert>

    <insert id="insertSelective" parameterType="cn.openeee.cloudstudiobiz.entities.ApplicationActivityRecord" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO application_activity_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="creatorId != null">creator_id,</if>
            <if test="creationTime != null">creation_time,</if>
            <if test="modifierId != null">modifier_id,</if>
            <if test="modificationTime != null">modification_time,</if>
            <if test="userId != null">user_id,</if>
            <if test="applicationId != null">application_id,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="creatorId != null">#{creatorId},</if>
            <if test="creationTime != null">#{creationTime},</if>
            <if test="modifierId != null">#{modifierId},</if>
            <if test="modificationTime != null">#{modificationTime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="applicationId != null">#{applicationId},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
        </trim>
    </insert>

    <select id="selectByPrimaryKey" parameterType="long" resultMap="BaseResultMap">
        SELECT id, creator_id, creation_time, modifier_id, modification_time, user_id, application_id, start_time, end_time
        FROM application_activity_record
        WHERE id = #{id}
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="cn.openeee.cloudstudiobiz.entities.ApplicationActivityRecord">
        UPDATE application_activity_record
        <set>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="creationTime != null">creation_time = #{creationTime},</if>
            <if test="modifierId != null">modifier_id = #{modifierId},</if>
            <if test="modificationTime != null">modification_time = #{modificationTime},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="applicationId != null">application_id = #{applicationId},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="long">
        DELETE FROM application_activity_record WHERE id = #{id}
    </delete>
</mapper>